footer {
    background-color: #eef3ff;
}

button{
    background-color: #f1f5ff;
}

button-dark {
    background-color: #2848c6;
}

nav {
    background-color: #e7f4fc;
}

text-dark {
    color: #1f3e72;
}